.logGim {
  margin: 70px auto 0;

}
/* .card-wizard .wizard-navigation .nav-item .nav-link.active{
  color: #fff !important;
  background-color: #e91e63 !important;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4) !important;
} */

.card-wizard .wizard-navigation .nav-item .nav-link.active{
  color: #fff !important;
  background-color:#9c27b0 !important;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4) !important;
}

.error{
  color: #f44336 !important;
}